@model RigionSearchModel

@{

    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.Rigion.Rigions").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Rigion list");
}

@{
    const string hideSearchBlockAttributeName = "RigionListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<form asp-controller="Rigion" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Rigions.Rigions")
        </h1>
        <div class="float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
           
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default card-search">
                        <div class="card-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                      
                                       
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="RigionName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="RigionName" />
                                            </div>
                                        </div>
                                       
                                    </div>
                                   
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                            <nop-label asp-for="SelectedCountryIds" />
                                            </div>
                                            <div class="col-md-8">
                                            <nop-select asp-for="SelectedCountryIds" asp-items="Model.AvailableRigionCountries" asp-multiple="true" />
                                            <script>
                                                    $(function() {
                                                        var rolesIdsInput =
                                                        $('#@Html.IdFor(model => model.SelectedCountryIds)').select2({
                                                                closeOnSelect: false,
                                                                @if (!Model.AvailableRigionCountries.Any())
                                                                {
                                                                <text>
                                                                disabled: true,
                                                                placeholder: '@T("Admin.RigionRigions.NoAvailableRigionCountries")',
                                                                </text>
                                                                }
                                                            });
                                                    });
                                                </script>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                    <button type="button" id="search-Rigion" class="btn btn-primary btn-search">
                                            <i class="fas fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">

                            @{
                                var gridModel = new DataTablesModel
                                {
                Name = "Rigion-grid",
                UrlRead = new DataUrl("RigionList", "Rigion", null),
                SearchButtonId = "search-Rigion",
                                    Length = Model.PageSize,
                                    LengthMenu = Model.AvailablePageSizes,
                                    Filters = new List<FilterParameter>
                                                        {
                                    new FilterParameter(nameof(Model.SelectedCountryIds)),
                                   
                                    new FilterParameter(nameof(Model.RigionName)),
                                  
                                   
                                    }
                                };

                           
                            

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RigionModel.RigionName))
                                {
                Title = T("Admin.Rigion.List.RigionName").Text
                                });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RigionModel.RigionCountriesNames))
                                {
                Title = T("Admin.Rigion.RigionRigionNames").Text,
                                    Width = "100"
                                });


                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RigionModel.DisplayOrder))
            {
                Title = T("Admin.Rigion.DisplayOrder").Text,
                Width = "70",
                ClassName = NopColumnClassDefaults.CenterAll
               
            });


                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RigionModel.Active))
            {
                Title = T("Admin.Rigion.Fields.Active").Text,
                Width = "70",
                ClassName = NopColumnClassDefaults.CenterAll,
                Render = new RenderBoolean()
            });

                          


                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(RigionModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "80",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                });
                            }
                            @await Html.PartialAsync("Table", gridModel)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</form>


