@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    NopCommerce Public RESTful API Plugin by NopAdvance team             *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model RefreshTokenSearchModel
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T(LocaleResourceDefaults.TOKENS_MENU).Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(SiteMapDefaults.TOKENS_MENU_SYSTEM_NAME);
}

@{
    const string hideSearchBlockAttributeName = "APITokens.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T(LocaleResourceDefaults.TOKENS_MENU)
    </h1>
    <div class="float-right">
        <button type="button" id="revoke-selected" class="btn btn-danger">
            <i class="fas fa-power-off"></i>
            @T(LocaleResourceDefaults.TOKEN_REVOKE_SELECTED)
        </button>
        <nop-action-confirmation asp-button-id="revoke-selected" />
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? " opened" : "" )" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fas fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? " up" : "down" )" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? " closed" : "" )">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchEmail" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchEmail" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchFirstName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchFirstName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchLastName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchLastName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SelectedCustomerRoleIds" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                                            <script>
                                                $(document).ready(function () {
                                                    var rolesIdsInput =
                                                        $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)')
                                                            .data("kendoMultiSelect");
                                                    rolesIdsInput.setOptions({
                                                        autoClose: false,
                                                        filter: "contains"
                                                    });

                                                @if (Model.AvailableCustomerRoles.Count == 0)
                                                {
                                                    <text>
                                                            rolesIdsInput.setOptions({
                                                                enable: false,
                                                                placeholder:
                                                                    '@T(LocaleResourceDefaults.TOKEN_CUSTOMERROLES_NOCUSTOMERROLESAVAILABLE)'
                                                            });
                                                        rolesIdsInput._placeholder();
                                                        rolesIdsInput._enable();
                                                    </text>
                                                }
                                                                                                    });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchApplicationId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="SearchApplicationId" asp-items="Model.AvailableApplications" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StoreId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center col-12">
                                    <button type="button" id="search-tokens" class="btn btn-primary btn-search">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">

                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "refresh-tokens-grid",
                       UrlRead = new DataUrl("TokenList", SiteMapDefaults.ADMIN_PUBLIC_API_CONTROLLER_NAME, null),
                       SearchButtonId = "search-tokens",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                        {
                        new FilterParameter(nameof(Model.SelectedCustomerRoleIds)),
                        new FilterParameter(nameof(Model.SearchEmail)),
                        new FilterParameter(nameof(Model.SearchFirstName)),
                        new FilterParameter(nameof(Model.SearchLastName)),
                        new FilterParameter(nameof(Model.SearchApplicationId)),
                        new FilterParameter(nameof(Model.StoreId))
                        },
                       ColumnCollection = new List<ColumnProperty>
                        {
                        new ColumnProperty(nameof(RefreshTokenModel.Id))
                        {
                        IsMasterCheckBox = true,
                        Render = new RenderCheckBox("checkbox_tokens"),
                        ClassName =  NopColumnClassDefaults.CenterAll,
                        Width = "50"
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.Email))
                        {
                        Title = T("Admin.Customers.Customers.Fields.Email").Text
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.FullName))
                        {
                        Title = T("Admin.Customers.Customers.Fields.FullName").Text
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.CustomerRoleNames))
                        {
                        Title = T("Admin.Customers.Customers.Fields.CustomerRoles").Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.Application))
                        {
                        Title = T(LocaleResourceDefaults.TOKEN_APPLICATION).Text
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.Store))
                        {
                        Title = T(LocaleResourceDefaults.APPLICATION_STORE_ID).Text,
                        Width = "100"
                        },
                        new ColumnProperty(nameof(RefreshTokenModel.Id))
                        {
                        Title = T(LocaleResourceDefaults.TOKEN_REVOKE).Text,
                        Width = "150",
                        ClassName =  NopColumnClassDefaults.Button,
                        Render = new RenderButtonCustom(NopButtonClassDefaults.Default,
                        "<i class=\"fas fa-power-off\"></i>" +
                        T(LocaleResourceDefaults.TOKEN_REVOKE).Text)
                        {
                        OnClickFunctionName = "revokeToken"
                        }
                        }
                        }
                   })

                        <button type="button" id="btnRevokeToken" style="display:none" />
                        <script>
                            var selectedId;
                            $(document).ready(function () {
                                $("#btnRevokeToken-action-confirmation-submit-button").bind("click", function () {
                                    var postData = {
                                        id: selectedId
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("RevokeToken", SiteMapDefaults.ADMIN_PUBLIC_API_CONTROLLER_NAME))",
                                        data: postData,
                                        success: function (data, textStatus, jqXHR) {
                                            updateTable('#refresh-tokens-grid');
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#revokeAlert').click();
                                        }
                                    });
                                    $('#btnRevokeToken-action-confirmation').modal('toggle');
                                });
                            });

                            $("#revoke-selected-action-confirmation-submit-button").bind("click", function () {
                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("RevokeSelected", SiteMapDefaults.ADMIN_PUBLIC_API_CONTROLLER_NAME))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        updateTable('#refresh-tokens-grid');
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#revokeSelectedAlert').click();
                                    }
                                });
                                $('#revoke-selected-action-confirmation').modal('toggle');
                            });

                            function revokeToken(id) {
                                selectedId = id;
                                $("#btnRevokeToken").click();
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nop-action-confirmation asp-button-id="btnRevokeToken" />
<nop-alert asp-alert-id="revokeAlert" asp-alert-message="@T(LocaleResourceDefaults.TOKEN_REVOKE_WARNING)" />
<nop-alert asp-alert-id="revokeSelectedAlert" asp-alert-message="@T(LocaleResourceDefaults.TOKEN_REVOKE_SELECTED_WARNING)" />