@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    NopAdvance Core Plugin by NopAdvance team                            *
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@using Nop.Web.Framework.Models.DataTables

@model LicenseSearchModel

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.PageTitle = T(CoreLocaleResourceDefaults.LICENSING_TITLE).Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(Model.SystemName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T(CoreLocaleResourceDefaults.LICENSING_TITLE)
    </h1>
    <div class="float-right">
        &nbsp;
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "license-grid",
                            UrlRead = new DataUrl("List", Model.ControllerName, null),
                            UrlUpdate = new DataUrl("Register", Model.ControllerName, null),
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(LicenseModel.LogoUrl))
                                {
                                    Title = T("Admin.Configuration.Plugins.Fields.Logo").Text,
                                    Width = "200",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderPicture()
                                },
                                new ColumnProperty(nameof(LicenseModel.Description))
                                {
                                    Title = T("Admin.Configuration.Plugins.Info").Text,
                                    Width = "250",
                                    Render = new RenderCustom("renderColumnDescription")
                                },
                                new ColumnProperty(nameof(LicenseModel.FriendlyName))
                                {
                                    Title = T("Admin.Configuration.Plugins.AdditionalInfo").Text,
                                    Render = new RenderCustom("renderColumnFriendlyName")
                                },
                                new ColumnProperty(nameof(LicenseModel.LicenseKey))
                                {
                                    Title = T(CoreLocaleResourceDefaults.LICENSE_FIELD_LICENSEKEY).Text,
                                    Width = "400",
                                    Editable = true,
                                    EditType = EditType.String
                                },
                                new ColumnProperty(nameof(LicenseModel.SystemName))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button + " column-edit",
                                    Render = new RenderCustom("renderColumnEdit")
                                }
                            }
                        })
                        <button type="submit" class="btn btn-default" id="btnDeRegister" style="display:none" />

                        <script asp-location="Footer">
                            var textRenderer = $.fn.dataTable.render.text().display;

                            function renderColumnDescription(data, type, row, meta) {
                                var res = '<b>' + textRenderer(row.FriendlyName) + '</b>';

                                if (row.Description) {
                                    res = res + '<br />' + textRenderer(row.Description);
                                }
                                return res;
                            }

                            function renderColumnFriendlyName(data, type, row, meta) {
                                var canChange = '';
                                if (row.CanChangeEnabled) {
                                    canChange = canChange + '<li>@T("Admin.Configuration.Plugins.Fields.IsEnabled").Text: ';
                                    if (row.IsEnabled) {
                                        canChange = canChange + '<i class="fas fa-check true-icon"></i>';
                                    }
                                    else {
                                        canChange = canChange + '<i class="fas fa-times false-icon"></i>';
                                    };
                                    canChange = canChange + '</li>';
                                };

                                return '<ul class="common-list">' +
                                    '<li>@T("Admin.Configuration.Plugins.Fields.Version").Text: ' + row.Version + '</li>' +
                                    '<li>@T("Admin.Configuration.Plugins.Fields.SystemName").Text: ' + row.SystemName + '</li>' +
                                    canChange;
                            }

                            function getRegisterButtons(data, type, row, meta) {
                                var origData = data;
                                var modData = data;
                                if (typeof data == 'string') {
                                    modData = data.replace(/[.*+?^${}()|[\]\\]/g, "_");
                                }
                                return '<a href="#" class="btn btn-success" id="buttonEdit_license_grid' + modData + '" onclick="editData_license_grid($(this).parent().parent(), \'' + origData + '\');return false;"><i class="fas fa-link"></i>@T("NopAdvance.Core.License.Register")</a>' +
                                    '<a href="#" class="btn btn-default" id="buttonConfirm_license_grid' + modData + '" style="display:none" onclick="confirmEditData_license_grid($(this).parent().parent(), \'' + origData + '\', \'@nameof(LicenseModel.SystemName)\');return false;"><i class="fas fa-check"></i>@T("Admin.Common.Update")</a>' +
                                    '<a href="#" class="btn btn-default" id="buttonCancel_license_grid' + modData + '" style="display:none" onclick="cancelEditData_license_grid(\'' + row + '\', \'' + origData + '\');updateTableWidth(\'#license-grid\');return false;"><i class="fas fa-ban"></i>@T("Admin.Common.Cancel")</a>';
                            }

                            function renderColumnEdit(data, type, row, meta) {
                                if (Boolean(row.IsActivated)) {
                                    return '<a onclick="deRegisterPluginLicense(\'' + row.LicenseKey + '\')" class="btn bg-red"><i class="fas fa-unlink"></i>@T("NopAdvance.Core.License.DeRegister").Text</a>';
                                }
                                else {
                                    return getRegisterButtons(data, type, row, meta);
                                }
                            }

                            var selectedLicenseKey;
                            $(document).ready(function () {
                                $("#btnDeRegister-action-confirmation-submit-button").bind("click", function () {
                                    var postData = {
                                        licenseKey: selectedLicenseKey
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeRegister", $"{Model.ControllerName}"))",
                                        data: postData,
                                        success: function (data, textStatus, jqXHR) {
                                            updateTable('#license-grid');
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $("#licenseAlert").click();
                                        }
                                    });
                                    $('#btnDeRegister-action-confirmation').modal('toggle');
                                });
                            });

                            function deRegisterPluginLicense(licenseKey) {
                                selectedLicenseKey = licenseKey;
                                $("#btnDeRegister").click();
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nop-action-confirmation asp-button-id="btnDeRegister" asp-additional-confirm="NopAdvance.Core.License.DeRegister.AdditionalConfirm" />
<nop-alert asp-alert-id="licenseAlert" asp-alert-message="@T("NopAdvance.Core.License.DeRegister.Error")" />